body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #edefeb;
}

.navbar-light{
    background: #dadcda !important;
}

.nav-link{
    color: black !important;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}