{% extends "base.html" %}

{% block title %}about{% endblock %}
{% block main %}
<div class='container mt-4 px-5 justify-content-center'>
    <div class="row lh-lg">
        <div class="col">
        </div>
        <div class="col-md-6">
            <h4 class='text-center'>What is Highlight of the Week and why should I use it?</h4>
                <p></p>
                <p class='py-1'>Highlight of the Week is a free group newsletter service that allows people to share and discover interesting online content. 
                    Users form a group, submit their weekly highlight, and receive an email of the group's collated highlights at the end of the week. 
                    We ask you to share 'the most interesting thing you've come across this week – articles, videos, podcasts, anything at all.</p>
                <p class='py-1'> Whether it be with close friends or new acquaintances, seeing what someone likes to read, watch, or listen to is a surprisingly
                    effective way to get to know them. A lot of online interaction is often superficial and regularly sharing quality
                    content helps to circumvent that. With physical interaction being limited in our current climate, having meaningful online activities 
                    is becoming increasingly important.</p>
                <p class='py-1'> Seeing what others find interesting on a regular basis is also a great way to get out of your 'intellectual' box – to discover
                    interests and perspectives. It's particularly valuable when it comes from those that you trust or respect.</p>
                <p class='py-1'> Highlight of the Week aims to make establishing a practice of sharing weekly highlights as effortless as possible. Email tends to be the
                    most effective way of doing so, fitting in seamlessly with users that are already familiar with newsletters and allowing users to 
                    engage with the highlights at their conveneince.
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
