{% extends "base.html" %}

{% block title %}home{% endblock %}
{% block main %}
<div class="container px-4 py-2 mt-4 mb-1">
    <h5>My groups</h5>
        {% if my_groups %}
            {% for item in my_groups %}
                <h6>{{ item[0].name }}</h6>
                {% if item[1] %}
                <p>You've already submitted your highlight for this week!</p>
                {% else %}
                <form method='POST' action=''>
                    {{ item[2].hidden_tag() }}
                    <div class="mb-3">
                        {% if item[2].highlight.errors %}
                            {{ item[2].highlight(class='form-control is-invalid', autocomplete='off', placeholder='Highlight URL', autofocus='') }}
                            <div class='invalid-feedback'>
                                {% for error in item[2].highlight.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ item[2].highlight(class='form-control', autocomplete='off', placeholder='Highlight URL', autofocus='') }}
                        {% endif %}
                    </div>
                     <div>
                      {{ item[2].submit(class='btn btn-primary') }}
                    </div>
                </form>
                {% endif %}
            {% endfor %}
        {% else %}
        <p class='lead'> You have no groups! Go make one!</p>
        {% endif %}
</div>
{% endblock %}