{% extends "base.html" %}

{% block title %}home{% endblock %}
{% block main %}
<div class="container px-4 py-2 mt-4 mb-1">
    <h5>My groups</h5>
        {% if my_groups %}
            {% for group in my_groups %}
                <h6>{{ group.name }}</h6>
                {% if group.submitted %}
                <p>You've already submitted your highlight for this week!</p>
                {% else %}
                <form class="col-12">
                    <input type="url" class="form-control form-control-dark" placeholder="URL" aria-label="URL">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% endif %}
            {% endfor %}
        {% else %}
        <p class=''> You have no groups! Go make one!</p>
        {% endif %}
</div>
{% endblock %}