<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <!-- https://favicon.io/ -->
        <link href="/static/logo.ico" rel="icon">

        <link type='text/css' href= "{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light ms-1 ps-4"> 
            <a class="navbar-brand fw-bold" href="/">Highlight of the Week</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav me-auto mt-2">
                        <li class="nav-item pt-2 px-2"><a class="nav-link" href="/about">about</a></li>
                        <li class="nav-item pt-2 px-2"><a class="nav-link" href="/help">help</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="/account">account</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="/new_group"><button class='btn btn-primary'>Create a group</button></a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ms-auto mt-2 pe-3">
                        <li class="nav-item pt-2 px-2"><a class="nav-link" href="/about">about</a></li>
                        <li class="nav-item pt-2 px-2"><a class="nav-link" href="/help">help</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="/sign_in"><button class='btn btn-primary'>Sign In</button></a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container mx-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted py-4 border-top">
            Created by <a class='text-muted' href='https://github.com/dtour/hotw'>dtour</a>
        </footer>

        <!-- Bootstrap JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>

</html>
